# dependencies
node_modules/
.expo/
.expo-shared/

# build output
dist/
build/
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# scripts
scripts/

# metro
metro.config.js
babel.config.js

